main > div.content-wrapper {
  display: flex;
  flex: 1;
}

main > div.content-wrapper > div.content {
  position: relative;
  flex: 1;
  max-height: calc(100vh - 88px);
  background: #121212;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

main > div.content-wrapper > div.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 332px;
  background-color: #535353;
  background-image: linear-gradient(rgba(0,0,0,.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
  z-index: 1;
}

main > div.content-wrapper > div.content > header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  z-index: 2;
}

main > div.content-wrapper > div.content > header > nav {
  gap: 8px;
}

main > div.content-wrapper > div.content > header > nav > button.icon-button {
  background: rgba(0, 0, 0, .7);
}

main > div.content-wrapper > div.content > header > div {
  gap: 8px;
}

main > div.content-wrapper > div.content > header > div > button.icon-button {
  background: rgba(0, 0, 0, .54);
  transform: scale(1.1);
}

main > div.content-wrapper > div.content > header > div > button.icon-button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff6437;
  color: #000;
  font-weight: 700;
}

main > div.content-wrapper > div.content > header > div > button {
  gap: 5px;
}

main > div.content-wrapper > div.content > header > div > button:hover {
  transform: scale(1.04);
}

main > div.content-wrapper > div.content > header > div > button > svg {
  fill: #fff;
}

main > div.content-wrapper > div.content > div.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
  padding: 0 16px;
}

main > div.content-wrapper > div.content > div.sections > section > div.section-title > div > span {
  font-size: 12px;
}

main > div.content-wrapper > div.content > div.sections > section > div.section-title > div > a {
  color: #fff;
  font-size: 24px;
}

main > div.content-wrapper > div.content > div.sections > section > div.cards-container {
  display: flex;
}

main > div.content-wrapper > div.content > footer {
  display: flex;
  flex-direction: column;
  padding: 48px 32px 40px;
  background: #121212;
  gap: 40px;
}

main > div.content-wrapper > div.content > footer > div {
  align-items: flex-start;
}

main > div.content-wrapper > div.content > footer div.link-medias {
  gap: 16px;
  margin-left: auto;
}

main > div.content-wrapper > div.content > footer div.link-medias > a.icon-button {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  background: #292929;
}

main > div.content-wrapper > div.content > footer div.link-medias > a.icon-button:hover {
  background: #727272;
}

main > div.content-wrapper > div.content > footer div.link-medias > a.icon-button > svg {
  fill: #fff;
}

main > div.content-wrapper > div.content > footer > hr {
  margin: 0;
  border-color: rgba(255, 255, 255, 0.1);
}

main > div.content-wrapper > div.content > footer > div.more-links {
  display: flex;
  align-items: center;
}

main > div.content-wrapper > div.content > footer > div.more-links > div:first-child {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  font-size: 14px;
}

main > div.content-wrapper > div.content > footer > div.more-links > div:last-child {
  white-space: nowrap;
  margin-left: auto;
}