#about-artist-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 9999;
}

#about-artist-modal > div {
  min-width: 500px;
  width: 768px;
  max-height: 70vh;
  height: 70vh;
  overflow: hidden;
}

#about-artist-modal > div > div {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1%;
}

#about-artist-modal > div > div > div.band-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 56.25%;
  width: 100%;
  background: #000;
}

#about-artist-modal > div > div > div.band-image-container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#about-artist-modal > div > div > div.band-image-container > button {
  position: absolute;
  top: 16px;
  right: 16px;
}

#about-artist-modal > div > div > div.info {
  display: flex;
  background: #121212;
  padding: 40px;
}

#container-modal {
  display: flex;
  flex-direction: row;
}

#container-info-modal {
  width: 204px;
  margin-bottom: 32px;
}

#text-modal-margin {
  margin: 0 0 40px 0px;
}

#text-modal-number {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

#modal-social-link {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 24px;
  color:  #fff;
}

#posted-by {
  margin-top: 0;
  width: 480px;
}

#posted-by > div > p {
  margin-top: -3px;
  margin-bottom: 16px;
}

#posted-by > div > div {
  margin-top: 32px;
}

#figure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  margin-right: 8px;
  background: #535353;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.modal-countries {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.listeners-modal {
  color: #b3b3b3;
  font-size: 14px;
  margin-bottom: 16px;
}

.button-link-modal {
  align-items: center;
  text-decoration: none;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  margin: 16px 0 0;
}

.button-link-modal:hover {
  text-decoration: underline;
}

.icon-modal {
  min-width: 24px;
  height: 24px;
  color: #fff;
  fill: #fff;
}