main > div.left-sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: calc(100vh - 88px);
  max-width: 320px;
}

main > div.left-sidebar ul.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 12px;
  background: #121212;
  width: 100%;
  border-radius: 8px;
  margin: 0;
}

main > div.left-sidebar ul.box > li {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: color 200ms;
}

main > div.left-sidebar ul.box > li:hover {
  color: #fff;
}

main > div.left-sidebar ul.box > li:hover > svg {
  fill: #fff;
}

main > div.left-sidebar ul.box > li > svg {
  width: 24px;
  height: 24px;
  color: #b3b3b3;
  fill: #b3b3b3;
  margin-right: 20px;
  transition: fill 200ms;
}

main > div.left-sidebar > div.your-library {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #121212;
  flex: 1;
  border-radius: 8px;
}

main > div.left-sidebar > div.your-library > header {
  padding: 8px 16px;
}

main > div.left-sidebar > div.your-library > header > button {
  gap: 12px;
  padding: 4px 8px;
}

main > div.left-sidebar > div.your-library > header > div {
  gap: 8px;
}

main > div.left-sidebar > div.your-library > div.filter {
  padding: 8px 16px;
  gap: 8px;
}

main > div.left-sidebar > div.your-library > div.list {
  flex: 1;
  overflow-y: auto;
  padding: 0 8px 8px;
}

main > div.left-sidebar > div.your-library > div.list > div.filter {
  padding: 2px 4px 0px 8px;
}

main > div.left-sidebar > div.your-library > div.list > div.filter > button:last-child {
  gap: 5px;
  font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);
  font-weight: 400;
  font-size: 14px;
}

main > div.left-sidebar > div.your-library > div.list > ul.playlists {
  padding: 0;
  margin: 0;
  list-style: none;
}

main > div.left-sidebar > div.your-library > div.list > ul.playlists > li.card-playlist > button > svg {
  transform: rotate(-90deg);
}