.filter {
  position: relative;
}

#modal-dropdonw {
  display: none;
  margin: 0;
  position: absolute;
  background-color: #2a2a2a;
  top: 33%;
  right: 03%;
  max-width: 228.25px;
  height: 402px;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
  font-size: 14px;
}

#modal-dropdonw > div {
  display: flex;
  flex-direction: column;
}

#modal-dropdonw > div > ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 10px;
  max-width: 200.25px;  
  height: 220px;
  justify-content: space-between
}

#modal-dropdonw > div > ul:last-child {
  padding: 0;
  margin: 0;
}

#modal-dropdonw > div > ul > p {
  margin: 0;
  padding: 10px;
  font-size: 14px;
}

#modal-dropdonw > div > ul > li {
  font-size: 14px;
  padding: 5px;
  display: flex;
  
}

#modal-dropdonw > div > ul > li > button {
  height: 100%;
  gap: 10px;
  padding: 10px;
  font-size: 14px;
}