* {
  margin: 0;
  bottom: 0;
}

.right-sidebar {
  position: relative;
}

.button-modal-rotate {
  transform: rotate(90deg);
}

.modal-right-sidebar {
  position: absolute;
  width: 267.883px;
  height: 408px;
  background-color: #282828;
  transform: translate(-182px, 400px);
  border-radius: 5px;
  font-size: 14px;
  color: hsla(0,0%,100%,.9);
}

.modal-right-sidebar > .contained-modal-right-sidebar {
  display: flex;
  flex-direction: column;
  color: hsla(0,0%,100%,.9);
  margin: 5px;
}

.modal-right-sidebar > .contained-modal-right-sidebar > div {
  display: flex;
  padding: 12px;
  gap: 12px;
  align-items: center;
}

.modal-right-sidebar > .contained-modal-right-sidebar > hr {
  width: calc(100% - 15px);
  margin: auto;
  border-color: hsla(0, 0%, 100%, .1);
}

.modal-right-sidebar > .contained-modal-right-sidebar > div > span {
  display: flex;
  gap: 12px;
}

.modal-right-sidebar > .contained-modal-right-sidebar > div > span > button {
  display: flex;
  gap: 12px;
}

