.icon {
  min-width: 24px;
  height: 24px;
  color: #fff;
  fill: #fff;
}

.icon.xs {
  max-width: 12px;
  height: 12px;
}

.icon.sm {
  min-width: 16px;
  height: 16px;
}

.icon.gray {
  color: #b3b3b3;
  fill: #b3b3b3;
}

.icon.green {
  color: #1ed760;
  fill: #1ed760;
}

button:has(> .icon.highlight-smoothing):hover > .icon.highlight-smoothing {
  fill: #fff;
  color: #fff;
}

.icon.highlight-smoothing {
  color: #b3b3b3;
  fill: #b3b3b3;
  transition: fill 200ms linear;
}

.icon.highlight-smoothing:hover {
  fill: #fff;
  color: #fff;
}